html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

.block1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 18px 100px 100px 100px;
  background-color: #eb0e0e;
  gap: 85px;
  
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: 18px;
  color: #f9fAf8;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  color: #E5E7EB;
  gap: 15px;
}

.block1-info {
  display: flex;
  justify-content: space-between;
}

.main-text {
  width: 400px;
}

.main-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9fAf8;
  margin-bottom: 10px;
}

.main-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 10px;
}

.block1-info img {
  width: 400px;
  height: 200px;
}

button {
  background-color: #3882f6;
  padding: 7px 30px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
}

/*Block 2 code below*/

.block2 {
  margin-top: 50px;
}

.block2 h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.cards-info {
  height: 150px;
  width: 150px;

}

.cards-info img {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.cards-info p {
  font-size: 18px;
  color: #1f2937;
}

/*Block 3 code below*/

.block3 {
  margin-top: 200px;
  background-color: #E5E7EB;
  padding: 100px 50px;
}

.quotation {
  width: 750px;
  margin: 0 auto;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  width: 800px;
  margin: 0 auto;
}

.author {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin: 0 auto;
}

/*Block 4 code below*/

.block4 {
  padding: 100px 100px;
}

.action {
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  color: white;
  padding: 50px 50px;
  border-radius: 8px;
  width: 1100px;
  margin: 0 auto;
}

.action div h3 {
  font-size: 24px;
  font-weight: bold;
}

.action div p {
  font-size: 18px;
}

.action button {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
}

/*Footer code below*/

.footer {
  color: #E5E7EB;
  background-color: #1f2937;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 50px 50px;
}